{% extends 'base.html.twig' %}
{% block title %}Modification de ton profil {% endblock %}
{% block monTitre %}Modification de ton profil {% endblock %}
{% block body %}

 <div class="container clearfix row justify-content-center">

    <div class="col-6">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <a href="{{ path('profil', { id : user.id }) }}" class=" btn btn-primary">Précédent</a>
        <button type="submit" class="btn btn-success float-right">Modifier le mot de passe</button>
        {{ form_end(form) }}
    </div>

</div>


{% endblock %}